div(class="transaction-history")
    h3 Transaction history
    div(class="transaction-history-content")
        table(class="table-transaction-history")
            thead
                tr
                    th(id="col-seller") Seller
                    th(id="col-buyer") Buyer
                    th(id="col-date") Date
                    th(id="col-asset") Item
                    th(id="col-amount") Amount
            tbody
                each elem in transactions_list
                    tr
                        td= elem.seller.username
                        td= elem.buyer.username
                        td= moment(elem.createdAt).format('YYYY-MM-DD HH:mm')
                        td= elem.asset.asset.name
                        td= elem.asset.amount