div(class="marketplace")
    h3 Marketplace    
    div(class="table-marketplace-content")
        table(class="table-marketplace")
            thead
                tr
                    th(id="col-seller") Seller
                    th(id="col-date") Date
                    th(id="col-item") Item
                    th(id="col-amount") Amount
                    th(id="col-buy") Buy
            tbody
                each elem in marketItens
                    tr(id=`marketitem-${elem._id.toString()}`)
                        td= elem.seller.username
                        td= moment(elem.createdAt).format('YYYY-MM-DD HH:mm')
                        td= elem.asset.asset.name
                        td= elem.asset.amount
                        td 
                            img(id=`marketitem-buy-${elem._id.toString()}` src="img/buy_liken.png" alt="buy_liken")
                            //- Thanks to https://www.shutterstock.com/image-vector/investing-icons-including-investment-stock-market-1350946325